body {
  background-color: antiquewhite;
  width: 100%;
}

.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.datescontainer {
  display: flex;
  justify-content: space-between;
}

.authcontainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authbuttoncontainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 15px;
}

.bottomformdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nowGone {
  font-family: "Sawarabi Mincho", serif;
  font-size: 66pt;
  margin: 25px;
  width: 100%;
  text-align: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20pt;
  color: black;
}

.addphotoform {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 13px;
  margin-bottom: 15px;
}

.photoinput {
  display: flex;
  justify-content: space-between;
}

.photosize {
  font-size: 10pt;
  margin-top: 0px;
}

.photoadd{
  font-size: 10pt;
  margin-bottom: 0px;
  margin-top: 20px;
}

.commentform {
  display: flex;
  justify-content: space-between;
}

.placename {
  margin-bottom: 10px;
  width: 55vw;
}

.placeInfo {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo_caption {
  font-size: 8pt;
  text-align: left;
}

.daterange {
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: space-between;
}

.addinfo {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.CommentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.comment {
  margin-bottom: 10px;
  width: 92%;
}

.commenttext {
  width: 100%;
  text-align: left;
  white-space: pre-wrap;
}

.description {
  width: 80%;
  text-align: left;
  max-height: 450px;
  overflow: auto;
}

.placephoto {
  width: 80%;
  border-radius: 5px;
}

.placepreviewphoto {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.photocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: fit-content;
  margin-bottom: 10px;
}

.photocard:hover {
  cursor: pointer;
}

.photogallery {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.topphotocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.topphoto {
  width: 85%;
}

.placepreview {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 25px;
  flex-wrap: wrap;
}

.placepreview:hover {
  cursor: pointer;
}

.placepreviewinfo {
  color: white;
  width: 90%;
}

.placemainimage {
  border-radius: 5px;
  width: 55svw;
}

.placecontainer {
  width: 80vw;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.homepage {
  margin-top: 35px;
}

.search_places {
  width: 250px;
}

.deletebutton {
  margin-bottom: 65px;
}

.searchby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordian {
  background-color: antiquewhite;
  text-align: center;
}

.accordiantype {
  text-align: center;
  width: 100%;
  padding-left: 24px;
  font-weight: bold;
}

.accordiantype h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordiandiv {
  margin-bottom: 35px;
  width: 80%;
}

p {
  white-space: pre-wrap;
}

.dateinput {
  width: 35%;
}

.photocaption {
  width: 70%;
}

.photoyear {
  width: 25%;
}

.address {
  width: 100%;
}

.placename {
  width: 100%;
}

.photo_url {
  width: 40%;
}

.photo_caption {
  width: 100%;
}

.year_taken {
  width: 15%;
}

@media (max-width: 700px) {
  .placecontainer {
    flex-direction: column;
    align-items: center;
  }

  .placemainimage {
    width: 85%;
  }

  .placepreview {
    width: 95%;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .datescontainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 27px;
  }

  .dateinput {
    width: 100%;
  }

  .bottomformdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photoinput {
    display: flex;
    flex-direction: column;
  }

  .photocaption {
    width: 100%;
  }

  .photoyear {
    width: 100%;
  }

  .daterange {
    flex-direction: column;
  }

  .photocard {
    width: 100%;
  }

  .commentform {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .addphotoform {
    flex-direction: column;
  }

  .photo_url {
    width: 100%;
  }

  .photo_caption {
    width: 100%;
  }

  .year_taken {
    width: 100%;
  }

  .nowGone {
    line-height: 100%;
    font-size: 45pt;
  }

  .placephoto {
    width: 90%;
  }

  .description {
    width: 100%;
  }

  h4 {
    margin: 10px;
  }

  .comment {
    width: 100%;
  }

}
